.auth-parent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    gap: 15px;
}
.input-div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 300px;
}

 .input-div input{
    border: none;
    border-bottom: 1px solid lightgray;
 }
 .button-div{
  display: flex;

 }
 .button-div button{
   border-radius: 5px;
   padding: 5px 10px;
   font-size: 15px;
   margin: 5px;
   cursor: pointer;
 }
 .parent-image{
  width: 50%;
 }
.image{
  width: 250px;
  
}
.auth-parent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
 .button-item{
  cursor: pointer;
  padding: 3px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
 }
 .button-item span{
  margin-left: 3px;
 }
 .button-item:hover{
  background-color: #0a78e6;
  color: #ffffff;
 }
 #register:hover{
  color: #fff;
  background-color: green;
 }