.header-div{
    display: flex;
    flex-direction: row ;
    align-items: center;
    justify-content:space-between;
    height: 150px;
    background-color: #5186cd;   width: 100%;
}
.header-logo{
    margin-left: 50px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header-left{
    margin-right: 15px;
}
.exit-buton{
    border: none;
    padding: 8px;
    font-size: 18px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color 0.5s ease;
    margin-right: 10px;
}
.exit-buton:hover{
    background-color: red;
    color: #fff;

}
.all-btn{
    padding: 8px 15px;
    font-size: 18px;
    border-radius: 5px;
    height: auto;
    margin: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.all-btn:hover{
background-color: rgb(114, 110, 110);
color: #fff;

}

.header-icon{
    font-size: 60px;
    color: #fff;
    
}
.header-input{
    margin-left: 650px;
    border: none;
    outline: none;
    width: 200px;
    height: 30px;
    margin-right:10px ;
    border-radius: 5px;
}